* {
    box-sizing: border-box;
}

body 
{
    width: 960px;
    height: 100%;
    margin: auto;
    margin-top: 20px;
}

.element {
    display: grid;
    grid-template-rows: 100px minmax(calc (100vh - 170px), 1fr)50px;
    gap: 10px;
}


img{
    width: 100%;
}

h1{
    width: 100px;
    margin-right: 200px;
    text-align: left
}

header{
    background:rgb(218, 215, 215);
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: center;
    padding: 0 10px;
    border: 3px solid rgb(29, 28, 28);
}

header.img{
    width: 100px;
}


ul{
    color: rgb(10, 10, 10);
    font-size: small;
    margin-left: 20px;
    width: 170px;
    height: 850px;
    border: 3px solid rgb(70, 68, 68);
}


.part1 {

    display: grid;
    grid-template-rows:1fr 1fr ;
    width: 750px;
    background: rgb(218, 215, 215);
    height: 50%;
    margin-left: 100px;
    margin-top: 30pxpx;
}


.allmain {
    display: grid;
    grid-template-columns: 100px 300px ;
    background:rgb(218, 215, 215);
    height: 900px;
    border: 3px solid rgb(70, 68, 68);

}


.mainn{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.image-section img {
    border: 3px solid rgb(70, 68, 68);
    width: 247px;
    height: 247px;
    margin-top: 50px;
}

.logo{
    width: 65px;
}

.prg{
    color: rgb(12, 11, 12);
    border: 3px solid rgb(70, 68, 68);
    text-align: center;
    margin-top: 40px;
    height: 400px;
}

#viewResult{
    margin-top: 5px;
    margin-left: 5px;
}

#result{
    width: 100%
}

footer{
    display: flex;
    align-items: center;
    background:rgb(218, 215, 215);
    color: rgb(12, 11, 11);
    text-align: center;
    border: 3px solid rgb(70, 68, 68);
    margin-bottom: 20px;
}

.fopterImg {
    text-align: center;
    align-items: center;
}